# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignorar ambientes virtuais
venv/
.env/

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações do VS Code
.vscode/

# Ignorar dependências instaladas
pip-log.txt
pip-delete-this-directory.txt

# Ignorar arquivos de logs
logs/
*.log

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignorar credenciais e variáveis de ambiente sensíveis
.env
*.env
